<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome <%= user.displayName %></h1>

    your Image :

      <img src=<%= user.profileImage %> alt="">  </h1>

      <button><a href="http://localhost:4000/logout">Logout</a></button>
      <!-- <iframe id="logoutframe" src="https://accounts.google.com/logout"></iframe> -->
    
</body>
</html>